<!-- Clients Aside -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectet    ur.</h3>
            </div>
        </div>
        <div class="row">
            <!-- <div id="calender"><iframe src="https://calendar.google.com/calendar/embed?src=cafe-chaos-fulda.de_0ttkhl57hsu01sjfusuhm4rc3o%40group.calendar.google.com&ctz=Europe/Berlin" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></div> -->
            <div><iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=cafe-chaos-fulda.de_0ttkhl57hsu01sjfusuhm4rc3o%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FBerlin" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>
        </div>
    </div>
</section>

