<!-- Clients Aside -->

<section id="events" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Events</h2>
                <p>Das Café Chaos ist weit mehr als nur ein Café. Es ist eine Kulturstätte. Mit immer wieder neuen Events und Ideen laden wir euch ein das Chaos neu zu erleben. Vom einfachen Spieleabend, über Kinoabende bis hin zu ausgelassenen Partys wird man bei uns fündig.</p>
                <p>Es kommt auch gerne mal vor, dass es ein Konzert, einen Poetry Slam oder einen internationalen Abend gibt. Es ist also für jeden was dabei. Und wenn dir etwas fehlt, schlag es doch vor ;) Wir sind für neue Ideen immer zu haben.</p>
            </div>
        </div>
        <div class="row">
            <div id="events-calendar"></div>
        </div>
    </div>
</section>

