<!-- Clients Aside -->

<section id="lunch">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Mittagessen</h2>
                <h3 class="section-subheading text-muted">Wir bereiten regelmäßig Mittagessen für euch zu. Denn wer arbeiten möchte, der sollte auch gut gestärkt sein.</h3>
            </div>
        </div>
        <div class="row">
            <div id="lunch-calendar"></div>
            <center><p>Studierende: 3,50€ – Mitarbeiter*innen/Externe: 4,50 €</p></center>
        </div>
    </div>
</section>

